<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
        <header class="title-header">
          <h1><%= htmlWebpackPlugin.options.title %></h1>
        </header>
        <div class="app">
          <header class="app-header">
            <div class="left"></div>
            <div class="center">
              <div class="row">00 00 00</div>
            </div>
            <div class="right"></div>
          </header>
          <div class="content">
            <div class="sidebar">
              <div class="lists">
                <section class="filtered-lists">
                  <ul>
                    <li class="list-item">
                      <div class="row">
                        <div><i class="bi bi-calendar-event"></i></div>
                        <div class="count"><span>0</span></div>
                      </div>
                      <div class="row">
                        <div class="title"><span>Today</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div><i class="bi bi-calendar3"></i></div>
                        <div class="count"><span>0</span></div>
                      </div>
                      <div class="row">
                        <div class="title"><span>Scheduled</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div><i class="bi bi-inbox"></i></div>
                        <div class="count"><span>0</span></div>
                      </div>
                      <div class="row">
                        <div class="title"><span>All</span></div>
                      </div>
                    </li>
                  </ul>
                </section>
                <section class="all-lists">
                  <h3>Lists</h3>
                  <ul>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>
                    <li class="list-item">
                      <div class="row">
                        <div class="icon"><i class="bi bi-alarm"></i></div>
                        <div class="title"><span>Alarm</span></div>
                        <div class="count"><span>0</span></div>
                      </div>
                    </li>

                  </ul>
                </section>
              </div>
              <footer class="profile">
                <div class="row">
                  <div class="avatar">
                    <img
                      src="https://avatars0.githubusercontent.com/u/1209898?s=460&v=4"
                      alt="avatar"
                    />
                  </div>
                  <div class="info">
                    <div class="name">
                      <span>{UserName}</span>
                    </div>
                    <div class="email">
                      <span>email</span>
                    </div>
                  </div>
                  <button class="setting-gear">
                    <i class="bi bi-sliders2"></i>
                  </button>
                </div>
              </footer>
            </div>
            <div class="body">
              <header>
                <div class="row">
                  <div class="title">
                    <h2>{Title}</h2>
                  </div>
                  <div class="quick-actions">
                    <button class="add-new" data-onClick="add-new">
                      <i class="bi bi-plus-lg"></i>
                    </button>
                    <button class="view-calender" data-onClick="view-calender">
                      <i class="bi bi-calendar3"></i>
                    </button>
                    <button class="view-sort" data-onClick="view-sort">
                      <i class="bi bi-filter"></i>
                    </button>
                    <button class="view-filter" data-onClick="view-filter">
                      <i class="bi bi-funnel"></i>
                    </button>
                  </div>
                </div>
              </header>
              <main class="main-content">
                <article class="task-card">
                  <div class="task-body">
                    <div class="task-status">
                      <input type="checkbox" id="{task-id}" />
                      <label for="{task-id}"></label>
                    </div>
                    <div class="task-info">
                      <div class="task-name">
                        <h3>{Title}</h3>
                      </div>
                      <div class="task-note">
                        <span>{Description}</span>
                      </div>
                      <div class="task-sidenote">
                        <span><i class="bi bi-alarm"></i>{Parent}</span><i class="bi bi-dot"></i><span>{Due Date}</span>
                      </div>
                    </div>
                    <div class="task-action">
                      <button class="add-subtask">
                        <i class="bi bi-plus-lg"></i>
                      </button>
                      <button class="edit-task">
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button class="delete-task">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </div>
                  <article class="task-card">
                    <div class="task-body">
                      <div class="task-status">
                        <input type="checkbox" id="{task-id}" />
                        <label for="{task-id}"></label>
                      </div>
                      <div class="task-info">
                        <div class="task-name">
                          <h3>{Title}</h3>
                        </div>
                        <div class="task-note">
                          <span>{Description}</span>
                        </div>
                        <div class="task-sidenote">
                          <span>{Due Date}</span>
                        </div>
                      </div>
                      <div class="task-action">
                        <button class="edit-task">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="delete-task">
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>
                    </div>
                  </article>
                </article>
                </main>
            </div>
          </div>
          <footer class="app-footer">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </footer>
            <div class="floating-buttons bottom">
              <button class="view-lists" data-onClick="view-list">
                <i class="bi bi-list"></i>
              </button>
            <button class="view-home" data-onClick="view-home">
              <i class="bi bi-house"></i>
            </button>
            <button class="view-search" data-onClick="view-search">
              <i class="bi bi-search"></i>
            </button>
          </div>
          <div class="floating-buttons top">
            <div class="search-input">
              <input type="text" placeholder="Type to Search..." />
            </div>
          </div>
          <div class="floating-buttons top">
            <div class="notification">
              <article class="subtask-card">
                <div class="task-body">
                  <div class="task-info">
                    <div class="tast-name">
                      <span>{Title}</span>
                    </div>
                    <div class="tast-note">
                      <span>{Description}</span>
                    </div>
                    <div class="task-sidenote">
                      <span>{Parent}</span><span>{Due Date}</span>
                    </div>
                  </div>
                  <div class="tast-action">
                    <button class="mark-finished">
                      <i class="bi bi-check"></i>
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
