.app{
  width: 100%;
  max-width: 1080px;
  background-color: white;
  position: relative;
  height: calc(100vh - 40px);
  max-height: calc(100vh - 40px);
  @include for_breakpoint(xl) {
    transform: translateY(5%);
  }
  @include for_breakpoint(lg) {
    height: 700px;
  }
  .app-header{
    height: 20px;
    width: 100%;
    // background-color: $primary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10px;
    top: -20px;
    color: $light;
    position: absolute;
    color: black;
    background: linear-gradient(90deg, rgba(255, 48, 255, 0.548), #ffbf6f 70%);
    // background: linear-gradient(90deg, hwb(300 19% 0% / 0.548), #ffbf6f 35%, #ffbf6f 65%, #7cff809d);
  }
  .content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 100%; 
    // overflow-y: auto;
  }
  .app-footer{
    @extend .app-header;
    bottom: -20;
    top: initial;
    background: linear-gradient(270deg, #7cff809d, #ffbf6f 70%);
  }
}

.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}

