$media_queries: (
    // 'x-small'    : "(max-width: 575px)",
    'sm'    : "(min-width: 576px)",
    'md'    : "(min-width: 768px)",
    'lg'    : "(min-width: 992px)",
    'xl'    : "(min-width: 1200px)",
    'xxl'   : "(min-width: 1400px)",

);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}